@font-face {
    font-family: 'Liberation';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('LiberationMono-Regular.woff2'),
    url(LiberationMono-Regular.woff2)
    format('woff2');
}